.container {
    width: 600px;
    height: 1000px;
    background-color: #4444;
}


.inner {
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
}


.inner2 {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
}