body{
    padding: 0;
    margin: 0;
}

.container{
    background: url(./img/top_2.jpg) ;
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}   

.header{
    width: 100%;
    height: 100px;
    background-color: #587498;
    padding: 20px;
}

a {
    color: #ffffff;
}

ol li {
    color: red;
}
.header a:hover {
    color:red;
}

a:active {
    font-weight: 200;
}

a:visited{
    opacity: 0,5;
}

h2::before{
    content: '-';
}

h2::after{
    content: '-';
}